.btn-box {
    margin-right: 30px
}
#vote-box {
    margin-top: 20px;
}



.address-tag {
    width: 132px;
}

.address-tag, .hash-tag-frontpage, .shorturl-tag1 {
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
}